<div class="bg-img container-fluid">
  <div class="row gradient">
      <div class="col-md-3 btn-back-home p-4">
          <button [routerLink]="['/auth/register']" class="btn rounded-0 btn-outline-light">{{'global.backHome' | translate}}</button>
        </div>
    <div class="col-md-6 py-5">
      <a [routerLink]="['/auth/login']">
        <img class="logo px-5 pb-5" [src]="'../../../../assets/logo.png'" />
      </a>
      <div class="card">
        <div class="card-body p-5 text-light">
          <div class="text-center">
            <h2>{{'auth.resetPassword.resetPassword' | translate}}</h2>
          </div>
          <form [formGroup]="resetForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
              <label>{{'auth.password' | translate}}</label>
              <input type="password" class="form-control" appBootstrapErrors errorKeyParent="validationError.password" [placeholder]="'auth.password' | translate"
                [formControlName]="formControlNames.PASSWORD">
            </div>
            <div class="form-group">
              <label>{{'auth.repeatPassword' | translate}}</label>
              <input type="password" class="form-control" appBootstrapErrors errorKeyParent="validationError.password" [placeholder]="'auth.repeatPassword' | translate"
                [formControlName]="formControlNames.PASSWORD_AGAIN">
            </div>
            <div class="text-center">
              <button [disabled]="!resetForm.valid" type="submit" class="btn button btn-primary">{{'global.send' | translate}}</button>
            </div>
          </form>
          <div class="error">
            <span *ngIf="invalidCredentials || resetError">
              <div class="alert alert-danger mt-1" role="alert">
                {{invalidCredentials ? ('auth.resetPassword.wrongReset' | translate) : ('global.problemWithConnection' | translate) }}
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 btn-login p-4">
        <button [routerLink]="['/auth/login']" class="btn rounded-0 btn-outline-light">{{'auth.login.logIn' | translate}}</button>
      </div>
  </div>
</div>
