.bg-img {
    background-image: url('../../../../assets/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    top: 0;
    position: absolute;
  }
  .btn-login {
    text-align: right;
  }
  .gradient {
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1) 10%, rgba(2, 2, 2, 0.6) 90%);
    min-height: 100vh;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.452);
  }
  
  .button {
    width: 66%;
    background-color: yellowgreen;
    border:none;
  }
  
  .logo {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-register {
    text-align: right;
  }
  
  .alert-danger {
    background-color: rgba(255, 16, 16, 0.432);
    color: white;
    border: none;
    text-align: center;
  }
  