<app-modal [id]="modalName">
  <div class="modal-header">
    <h5 class="modal-title">{{'fabrics.editFabric' | translate}}</h5>
    <button type="button" class="close" (click)="closeModal();" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form *ngIf="editFabricForm" [formGroup]="editFabricForm" (ngSubmit)="onFormSubmit()">
    <div class="modal-body py-2">
      <div class="row">
        <div class="col-md-6">
          <p class="my-0">{{'fabrics.name' | translate}}</p>
          <input type="text" class="form-control" appBootstrapErrors [formControlName]="formControlNames.NAME">
        </div>
        <div class="col-md-6">
          <p class="my-0">{{'fabrics.producerCode' | translate}}</p>
          <input type="text" class="form-control" appBootstrapErrors [formControlName]="formControlNames.PRODUCER_CODE">
        </div>
        <div class="col-md-6">
          <p class="my-0">{{'producers.producer' | translate}}</p>
          <select class="form-control" appBootstrapErrors [formControlName]="formControlNames.PRODUCER">
            <option *ngFor="let x of producers" value="{{x.id}}" title="{{x.name}}">{{x.name}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <p class="my-0">{{'fabrics.thickness' | translate}}</p>
          <input type="number" class="form-control" appBootstrapErrors [formControlName]="formControlNames.THICKNESS">
        </div>
        <div class="col-md-6">
          <p class="my-0">{{'fabrics.imageUrl' | translate}}</p>
          <input type="url" class="form-control" appBootstrapErrors [formControlName]="formControlNames.IMAGE_URL">
        </div>
     
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn text-white btn-primary">{{'global.save' | translate}}</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal();" data-dismiss="modal">{{'global.cancel' | translate}}</button>
    </div>
  </form>
</app-modal>