<app-modal [id]="modalName">
  <div class="modal-header">
    <h1>{{'global.sure' | translate}}</h1>
  </div>
  <div *ngIf="currentFabric" class="modal-body">
    <p *ngIf="!currentFabric.isArchival">{{'fabrics.archiveInfo' | translate}}</p>
    <p *ngIf="currentFabric.isArchival">{{'fabrics.dearchiveInfo' | translate}}</p>
    <p>
      {{'fabrics.fabric' | translate}}:
      <b>{{currentFabric?.name}}  </b>
    </p>
  </div>
  <div class="error">
    <div *ngIf="errorEvent" class="alert alert-danger mt-1" role="alert">
      <span>{{'global.problemWithConnection' | translate}}</span>
    </div>
  </div>
  <div *ngIf="currentFabric" class="modal-footer">
    <button *ngIf="!currentFabric.isArchival" type="button" class="btn btn-primary" (click)="archiveFabric()">{{'global.archive' | translate}}</button>
    <button *ngIf="currentFabric.isArchival" type="button" class="btn btn-danger" (click)="dearchiveFabric()">{{'global.dearchive' | translate}}</button>
    <button type="button" class="btn btn-default" (click)="closeModal();">{{'global.close' | translate}}</button>
  </div>
</app-modal>
