.page-link {
    color: unset;
  }
  
  .page-link:disabled {
    color: gray;
  }
  
  .form-group.page-size {
    width: 70px;
    input {
      text-align: right;
    }
  }

  nav{
    margin-left:auto; margin-right:0;
  }
  