<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
      <div class="liner"></div>
                  
      <!-- circular user icon -->
      <li>
          <a routerLink="/furniture-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="furniture-type">
              <span class="round-tabs one">
                  <i class="glyphicon glyphicon-user"></i>
              </span>
          </a>
      </li>

      <!-- circular tasks icon -->
       <li>
          <a routerLink="/fabric" routerLinkActive="active" data-toggle="tab" title="fabric">
              <span class="round-tabs two">
                  <i class="glyphicon glyphicon-tasks"></i>
              </span> 
          </a>
      </li>

      <!-- circular home icon -->
      <li>
          <a routerLink="/dimensions" routerLinkActive="active" data-toggle="tab" title="dimensions">    
              <span class="round-tabs three">
                  <i class="glyphicon glyphicon-home"></i>
              </span>
          </a>
      </li>

      <!-- circular ok icon -->
      <li>
          <a routerLink="/summary" routerLinkActive="active" data-toggle="tab" title="summary">
              <span class="round-tabs four">
                  <i class="glyphicon glyphicon-ok"></i>
              </span>
          </a>
      </li>
              
  </ul>
  <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="content/js/loading-bars.js"></script>