<div class="mt-5">
    <div class="row ">
      <div class="col-md-12 text-center">
        <h2>{{'furnitures.step2.header' | translate}}</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12 text-center">
        <h6>{{'furnitures.step2.info' | translate}}</h6>
      </div>
    </div>
    <form *ngIf="step2Form" [formGroup]="step2Form" class=" mt-3" (ngSubmit)="onFormSubmit()">
     
      <div class="row">
        <div class="col-md-3 pt-2"><label>{{'furnitures.step2.backFabric' | translate}}</label></div>
        <div class="col-md-8">
            <ng-select [(ngModel)]="fabrics.backFabricId"  appBootstrapErrors [formControlName]="formControlNames.BACK_FABRIC" >
                <ng-option *ngFor="let y of fabricList" [value]="y.id" >{{y.producerCode+' - '+y.name+' ('+y.thickness+' mm)'}}</ng-option>
            </ng-select>
        </div>
        <div class="col-md-1">
          <i class="fas fa-search" *ngIf="fabrics.backFabricId" (click)="openFabricPreviewModal(fabrics.backFabricId);"></i>
          </div>
      </div>
     
      <div class="row">
        <div class="col-md-3 pt-2"><label>{{'furnitures.step2.frontFabric' | translate}}</label></div>
        <div class="col-md-8">
            <ng-select [(ngModel)]="fabrics.frontFabricId" appBootstrapErrors [formControlName]="formControlNames.FRONT_FABRIC" >
                <ng-option *ngFor="let z of fabricList" [value]="z.id" >{{z.producerCode+' - '+z.name+' ('+z.thickness+' mm)'}}</ng-option>
            </ng-select>
     
      </div>
      <div class="col-md-1">
        <i class="fas fa-search" *ngIf="fabrics.frontFabricId" (click)="openFabricPreviewModal(fabrics.frontFabricId);"></i>
        </div>
      </div> 
        <div class="row">
            <div class="col-md-3 pt-2"><label>{{'furnitures.step2.corpusFabric' | translate}}</label></div>
            <div class="col-md-8">
                <ng-select [(ngModel)]="fabrics.corpusFabricId" appBootstrapErrors [formControlName]="formControlNames.CORPUS_FABRIC" >
                    <ng-option *ngFor="let z of fabricList" [value]="z.id" >{{z.producerCode+' - '+z.name+' ('+z.thickness+' mm)'}}</ng-option>
                </ng-select>
          
            </div>
            <div class="col-md-1">
              <i class="fas fa-search" *ngIf="fabrics.corpusFabricId" (click)="openFabricPreviewModal(fabrics.corpusFabricId);"></i>
              </div>
          </div> 
      <div class="row mt-2">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button (click)="back()" class="btn btn-outline-secondary  col-md-12">{{'furnitures.back'|translate}}</button>
        </div>
        <div class="col-md-3">
          <button type="submit"  class="col-md-12 btn btn-primary" >{{'furnitures.next' | translate}}</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  
  </div>
  <app-new-furniture-fabric-preview #fabricPreview></app-new-furniture-fabric-preview>