<app-modal [id]="modalName">
  <div class="modal-header">
    <h1>{{'global.sure' | translate}}</h1>
  </div>
  <div  class="modal-body">
    <p >{{'user.deleteInfo' | translate}}</p>
    
  </div>
  <div class="error">
    <div *ngIf="errorEvent" class="alert alert-danger mt-1" role="alert">
      <span>{{'global.problemWithConnection' | translate}}</span>
    </div>
  </div>
  <div  class="modal-footer">
    <button  type="button" class="btn btn-danger" (click)="deleteAccount()">{{'global.delete' | translate}}</button>
    <button type="button" class="btn btn-default" (click)="closeModal();">{{'global.close' | translate}}</button>
  </div>
</app-modal>
