<div class="mt-5">
    <div class="row ">
      <div class="col-md-12 text-center">
        <h2>{{'furnitures.step4.header' | translate}}</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12 text-center">
        <h6>{{'furnitures.step4.info' | translate}}</h6>
      </div>
    </div>
   
    <div class="row mt-2">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <button (click)="back()" class="btn btn-outline-secondary  col-md-12">{{'furnitures.back'|translate}}</button>
        </div>
        <div class="col-md-5">
          <button (click)="sendForm()" class="col-md-12 btn btn-primary">{{'furnitures.generate' | translate}}</button>
        </div>
        <div class="col-md-1"></div>
      </div>
  
  </div>
  