@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
@import "styles/extend-bootstrap";
$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";
//@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
//@import url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
@import "assets/css/riliwan-rabo.css";
@import "assets/css/style.css";
@import "assets/css/form.css";
@import "assets/css/loading-bars.css";
@import "~@ng-select/ng-select/themes/default.theme.css";