.right {
    background-color:#f9f9f9;
    min-height: 100vh;
}

.right h1{
    text-align: center;
}

.active{
    text-decoration: underline;
  }

  .card{
      border:0;
  }

  .card-header{
    word-wrap: break-word;
  }

  .btn-link{
      text-decoration: none;
  }